PORT=3000
MONGO_URI=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_EMAIL_PASS=
FRONTEND_URL=https://ijhat.org
ADMIN_APP_URL=https://ijhat.org/admin
ADMIN_RESET_URL=https://ijhat.org/reset-password
CORS_ORIGINS=https://ijhat.org,http://localhost:5173,http://127.0.0.1:5173
